.sidebar-content {
    display: flex;
    justify-content: left;

}

.pageContent {
    padding: 80px 160px;
    flex-grow: .75;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

