.content-inside {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}

.text-inside {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.welcome {
    color: #00212C;
    font-size: 36px;
}

.view {
    color: #00212C;
    font-size: 32px;
}

.overview {
    display: flex;
    gap: 56px;
}

.right-content {
    width: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left-content-inside {
    display: flex;
    gap: 16px;
}

.performace {
    width: 100%;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.events {
    width: 125px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.usedResources {
    width: 125px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .content-inside {
        display: flex;
        flex-direction: column;
        padding: 40px 100px;
    }
}