.config-box-inside {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}

.photo-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textFields-inputFields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.changePassword {
    border-radius: 10px;
    padding: 18px 40px;
    border: 1px solid;
}

.changePassword-fields{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.new-confirm {
    display: flex;
    gap: 70px;
}

.save-btn {
    align-self: center;
    margin-top: 30px;
    width: 160px;
    border-radius: .5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: #004257;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #DAE9F1;
}