.main-container {
    display: flex;
    gap: 120px;
    margin: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.user-info p {
    font-size: 24px;

}
.user-info input {
    font-size: 24px;
}

.box-remember {
    display: flex;
    gap: .2rem;
    margin-top: .4rem;
}

.box-remember p {
    font-size: 20px;
}

.forgot-register {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.forgot-register p {
    font-size: 14px;
    color: #006699;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    border-radius: .5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: #004257 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #DAE9F1;
    font-size: 20px;
}

.login-btn:hover{
    background-color: initial;
    color: initial;
    border-color: initial;
}

.slider {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}


.images img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    
}

.container-inside-left-login {
    padding-top: 20px;
    cursor: grab;
    overflow: hidden;
}

.slider-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 300px;
    gap: 16px;
}

.circles {
    display: flex;
    gap: 8px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: none;
    background-color: #004257;
}

.active {
    background-color: #00212C;
}

.error-box {
    background-color: #f8d7da;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.error-message {
    color: #721c24;
}