.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

@media (min-width: 1200px) {
    .container-centered{
        max-width: 1350px;
    }
}