.mainCard {
    display: flex;
    border-radius: 10px;
    background-color: #DAE9F1;
    padding: 12px;
}

.mainCard a{
	width: 90%;
	text-decoration: none;
	color: inherit;
}

.insideCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
    flex-grow: 1;
	width: 100%;
}

.borderDiv {
	display: flex;
	flex-direction: row;
	background-color: #DAE9F1;
    border: 1px solid #004257;
	border-radius: 10px;
	flex-grow: 1;
}

.icons {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
	width: 10%;
}

.tag {
    display: flex;
    gap: 4px;
}

.tag p {
    font-size: 14px;
}

.blackbox {
    width: 8px;
    height: 8px;
    border: 2px solid #F5BF42;
    border-radius: 50%;
    background-color: #F5BF42;
    align-self: center;
}

.btn-card {
	background-color: transparent;
	border: none;
}