.mainCard {
    display: flex;
    border-radius: 10px;
    background-color: #DAE9F1;
    justify-content: space-between;
    padding: 25px 30px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}