.textName{
    color: #004257;
}

.inputField{
    border-radius: 1rem;
    border-width: 0px;
    color: #004257;
    background-color: #A4C3DA;
    width: 18rem;
    height: 2rem;
    padding: 1.5rem 1rem;
}