.main-container {
    display: flex;
    gap: 120px;
    margin: auto;
}

.container-inside-left-register {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}


.login-page {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: #006699;
    text-decoration: none;
}

.login-page:hover {
    background-color: #DAE9F1;
    border-radius: 8px;
}

.login-page p {
    font-size: 16px;
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    text-decoration: none;
}

.register-btn {
    width: 100%;
    border-radius: .5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: #004257 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #DAE9F1;
    font-size: 20px;
}

.register-btn:hover {
    background-color: initial;
    color: initial;
    border-color: initial;
}

.img {
    width: 400px;
    height: 200px;
    background-color: #004257;
    border-radius: 30px;
}